@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #211F2A;
    font-family: "Barlow", sans-serif;
    color: #ffffff;
}

.toLeft {
    margin-bottom: 20px;
    margin-left: 7%;
    text-align: left;
}

.contentContainer {
    width: 100%; 
    margin: 0 auto;
    text-align: center;
}


.formDefaut {
    max-width: initial;
    margin: initial;
    background-color: initial;
    border-radius: initial;
    box-shadow: initial;
    padding-top: initial;
    padding-bottom: initial;
}

.formDefaut input[type="text"],
.formDefaut input[type="email"],
.formDefaut input[type="password"],
.formDefaut input[type="date"],
.formDefaut input[type="url"] {
    background-color: #2B2F40;
    width: 25%;
    padding: 10px;
    border-color: #2B2F40;
    border-style: solid;
    margin-left: initial;
    margin-bottom: 20px;

    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
}


.formDefaut textarea {
    background-color: #2B2F40;
    width: 90%;
    padding: 10px;
    border-color: #2B2F40;
    border-style: solid;
    margin-left: initial;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
}

.formDefaut label {
    margin-left: initial;
}

.formDefaut input[type="submit"] {
    margin-left: initial;
}