#thumbnail {
    width : 264px;
    height : 355px;
    position : absolute;
    left : 8%;
    top : 130px;

}

#thumbnail img {
    object-fit: cover;
}

#boutons {
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: flex-start;

}