#navabarFrame {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
}

#logo {
    height: 80%;
    margin-left: 10px;
    margin-top: 10px;
}

#buttonStorage {
    --sens: 1;
    --couleur : #5770d6;
    width: 50%;
    display: inline-flex;
    justify-content: space-around;
    right: 0;
}

#buttonStorage button {
    background-color: transparent;
    font: 24px "Barlow", sans-serif;
    color: white;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    rotate: 0deg;
}

#buttonStorage button:hover {
    color: var(--couleur);
    transition: 0.3s;
    font-size: 36px;
    rotate: calc(var(--sens, 1) * 6deg);
    text-decoration: underline;
}

#buttonCollection, #buttonProfile {
    --sens: -1;
    --couleur : #F9A826;
}

#buttonSearch {
    --couleur : #fa683f;
}

#buttonProfile {
    --couleur : #76ec64;
}
#buttonStorage .navimages {
    width: 50px;
    height: 50px;
    object-fit: fill;
    position: absolute;
    top: -100px;
    left: 50%;
    transition: top 0.3s;
    transform: translateX(-50%);
}

#buttonStorage button:hover .navimages {
    top: -30px;
    transition: top 0.3s;
}

#easter {
    width: 50px;
    height: 50px;
    object-fit: fill;
    position: absolute;
    top: -40%;
    left: 10%;
    transition: top 0.3s;
    transform: translateX(-50%);
}

#easter:hover {
    top: -10px;
    transition: top 0.3s;
}