.titreProfil {
    font-size: 250%;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profil {
    margin-bottom: 20px;
    margin-left: 10%;
    text-align: left;
}

.profilContainer {
    width: 100%; 
    margin: 0 auto;
    text-align: center;
}

.formProfil {
    max-width: initial;
    margin: initial;
    background-color: initial;
    border-radius: initial;
    box-shadow: initial;
    padding-top: initial;
    padding-bottom: initial;
}

.boutonProfil {
    font: 100% "Barlow", sans-serif;
    display: block;
    background-color: #6757D6;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: -7.5px;
}

.boutonProfil:hover {
    background-color: #463897;
    transition: 0.3s;
}

.profilTexte {
    font: 100% "Barlow", sans-serif;
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 20;
}

.formProfil input[type="text"],
.formProfil input[type="email"],
.formProfil input[type="password"]{
    background-color: #2B2F40;
    width: 25%;
    padding: 10px;
    border-color: #2B2F40;
    border-style: solid;
    margin-left: initial;
    margin-bottom: 20px;
    margin-top: -20px;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
}

.labelProfil {
    margin-left: initial;
}