.RankingTitre {
    font-size: 27px;
    margin-bottom: 20px;
    margin-left: 10%;
    text-align: left;
}

.table-container {
    width: 100%; 
    margin: 0 auto;
    text-align: center;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #e1e1e6;
}

th {
    font-size: 16px;
    font-weight: bold;
}


tbody tr:nth-child(odd) {
    background-color: #2c2c3e;
}